<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> <b> ADVENTIS DENTAL SURGERY </b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"> 
        <li class="nav-item">
          <a *ngIf = "isLoggedIn" class="nav-link" href="/view-patient">Patient</a>
        </li>
        <li class="nav-item">
          <a *ngIf = "isLoggedIn &&  (role==='ADMIN' || role==='PATIENT')" class="nav-link" href="/view-dentist">Dentist</a>
        </li>
        <li class="nav-item">
          <a *ngIf = "isLoggedIn" class="nav-link" routerLink="/view-appointment">Appointment</a>
        </li>
        <li class="nav-item">
          <a *ngIf = "isLoggedIn && role==='ADMIN'" class="nav-link" routerLink="/view-surgery">Sugery</a>
        </li>

        <li class="nav-item">
          <a *ngIf = "isLoggedIn && role==='ADMIN'" class="nav-link" routerLink="/view-user">User</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Report
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        
      </ul>
      

        <div class="mx-2">
            <button *ngIf = "!isLoggedIn" style="margin: 5px;"class="btn btn-info" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/login">Login</a></button>      
            <!-- <button style="margin: 5px;" class="btn btn-info" data-toggle="modal" data-target="#loginModal"><a style="color: white;" href="javascript:void(0);" routerLink="/booking">Booking Appointment</a></button>  -->
            <button *ngIf="isLoggedIn" style="margin: 5px;" class="btn btn-info" data-toggle="modal" data-target="#loginModal">
              <a style="color: white;" href="javascript:void(0);" (click)="logout()">Logout (as a {{role}})</a></button>    
        </div>
    </div>
</nav>
