version: "3.8"
services:
  mysqldb:
    image: mysql:8.0.27
    container_name: userservice-mysqldb
    networks:
      - blog-mysql
    environment:
      - DATABASE_HOST=docker-mysql
      - DATABASE-PORT=3306
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=dentist_user_db
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=root

  app:
    image: userservice-docker-compose
    networks:
      - blog-mysql
    ports:
      - 8082:8082
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqldb:3306/dentist_user_db?autoReconnect=true&allowPublicKeyRetrieval=true&useSSL=false
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_DATASOURCE_DRIVER-CLASS-NAME=com.mysql.cj.jdbc.Driver
    depends_on:
      - mysqldb

networks:
  blog-mysql: