<div class="container">
    <div class="mt-5 container">
        <div class="card">
            <div class="card-header">
                <h4>
                    Edit :: Patient Enrollment Form
                    <a routerLink="/view-patient" class="btn btn-danger">Back</a>
                </h4>
            </div>
            <div class="card-body">
                <div *ngIf="isLoading; else elseForm">
                    <app-loader :title="loadingTitle"></app-loader>
                </div>
                <ng-template #elseForm>
                    <form (ngSubmit)="updatePatient()">
                        <input type="hidden" [(ngModel)]="patients.patientId" name="branchId" class="form-control" required />
                        <input type="hidden" [(ngModel)]="patients.addressId" name="addressId" class="form-control" required />
                        
                        <div class="mb-12">
                            <div class="form-group row"> 
                                <div class="col-sm-6">
                                    <label class="col-sm-4 col-form-label">First Name</label>
                                    <input type="text" [(ngModel)]="patients.firstName" name="firstName" class="form-control" required />
                                    <span *ngIf="errors.firstName" class="text-danger">{{errors.firstName}}</span>  
                                </div>  
                                <div class="col-sm-6">
                                    <label class="col-sm-4 col-form-label">Last Name</label>
                                    <input type="text" [(ngModel)]="patients.lastName" name="lastName" class="form-control" required/>
                                    <span *ngIf="errors.lastName" class="text-danger">{{errors.lastName}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-12">
                            <div class="form-group row"> 
                                <div class="col-sm-6">
                                    <label class="col-sm-4 col-form-label">Phone No</label>
                                    <input type="text" [(ngModel)]="patients.phoneNo" name="phoneNo" class="form-control" required />
                                    <span *ngIf="errors.phoneNo" class="text-danger">{{errors.phoneNo}}</span>
                                </div>  
                                <div class="col-sm-6">
                                    <label class="col-sm-4 col-form-label">Email</label>
                                    <input type="text" [(ngModel)]="patients.email" name="email" class="form-control" required/>
                                    <span *ngIf="errors.email" class="text-danger">{{errors.email}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-12">
                            <div class="form-group row"> 
                                <div class="col-sm-6">
                                    <label class="col-sm-4 col-form-label">Address1</label>
                                    <input type="text" [(ngModel)]="patients.address.street1" name="street1" class="form-control" required/>
                                    <span *ngIf="errors.street1" class="text-danger">{{errors.street1}}</span>
                                </div>  
                                <div class="col-sm-6">
                                    <label class="col-sm-4 col-form-label">Address2</label>
                                    <input type="text" [(ngModel)]="patients.address.street2" name="street2" class="form-control" />
                                    <span *ngIf="errors.street2" class="text-danger">{{errors.street2}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-12">
                            <div class="form-group row"> 
                                <div class="col-sm-6">
                                    <label class="col-sm-4 col-form-label">City</label>
                                    <input type="text" [(ngModel)]="patients.address.city" name="city" class="form-control" required/>
                                    <span *ngIf="errors.city" class="text-danger">{{errors.city}}</span>
                                </div>  
                                <div class="col-sm-6">
                                    <label class="col-sm-4 col-form-label">State</label>
                                    <input type="text" [(ngModel)]="patients.address.state" name="state" class="form-control" required/>
                                    <span *ngIf="errors.state" class="text-danger">{{errors.state}}</span>
                                </div>
                            </div>
                        </div>
  
                        <div class="mb-3">
                            <label>Zip Code</label> 
                            <input type="text" [(ngModel)]="patients.address.zipcode" name="zipcode" class="form-control" required/>
                            <span *ngIf="errors.zipcode" class="text-danger">{{errors.zipcode}}</span>
                        </div>
 
                        <div class="mb-3"> 
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </ng-template>
            </div>
        </div>
    </div>
</div>
